* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
    font-size: 18px;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 500px;
    padding: 30px;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    background-color: #003b5b;
    margin-top:50px;
}

h4 {
    margin-bottom: 10px;
    font-size: 24px;
    color: white;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    padding: 10px;
}

#submit {
    border: none;
    background-color: orangered;
    color: white;
    width: 200px;
    margin-top: 10px;
    border-radius: 5px;
}
.bg-container {
    background-image: url("https://res.cloudinary.com/dd70o0ihc/image/upload/v1699008424/back_page_ucttfa.jpg");
    height: 100vh;
    width: 100vw;
    background-size:cover;
}

#submit:hover {
    background-color: #333333;
}
.bg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This will make the container take the full height of the viewport */
}
